$border: 5px solid rgb(215, 239, 247);

$color: rgb(21, 121, 104);
$lightcolor:rgb(215, 239, 247);
$backgroundColorActive: rgb(131, 13, 62);
$backgroundColorInactive: rgb(161, 95, 122);
$backgroundColor: rgb(194, 17, 91);

.faq-wrapper{
	background-color: $color;
	h2{
		text-align: center;
		margin: 0;
		
	}
}
.faq-quest {
		margin: 0;
	font-size: .7rem;
font-weight: 100;
text-align: center;
	padding:  20px;
	border: $border;
	cursor: pointer;
	color: $lightcolor;
	
}
.faq-quest:hover{
    background-color: $backgroundColorActive;
}
.active-quest{
	
	border-radius: 5px 5px 0 0;
	background: $backgroundColorActive;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.active-quest:hover {
	background:  $backgroundColorActive;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-quest {
	background:  $backgroundColorInactive;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-quest:hover {
	background:  $backgroundColorInactive;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.faq-answer {

	padding: 20px;
	background: $lightcolor;
	border: $border;
	border-top: 0;
	word-wrap: break-word;
	
}
.displayNone{
    display: none;
    transition:  none 1s;
}