body {
  margin: 0 auto;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f2ed), to(#1a7a62));
  background: linear-gradient(#f5f2ed, #1a7a62);
}

header a img {
  width: 40px;
  height: 40px;
}

.main {
  width: inherit;
  height: 600px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/math-math-dog.jpg");
}

.reg-auth {
  width: 60%;
  position: absolute;
  top: 5%;
  left: 10%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
}

.reg-auth__form {
  display: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

h1 {
  text-shadow: 2px 2px 3px #faf5f5, -1px 1px 1px #b31c1c;
  color: #267773;
  margin-top: 0;
  font-style: italic;
  font-size: 3em;
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.questions input {
  width: 500px;
  height: 100px;
  border: 2px solid #18695c;
}

.questions input[type="submit"] {
  border: 2px solid #18695c;
  height: 37px;
  width: 504px;
}

h2 {
  color: #f7f2f0;
  letter-spacing: 0.7em;
  text-shadow: 3px 0 rgba(250, 111, 142, 0.5), 6px 0 rgba(250, 111, 142, 0.4), 9px 0 rgba(250, 111, 142, 0.3), 12px 0 rgba(250, 111, 142, 0.2), 15px 0 rgba(250, 111, 142, 0.1);
  background-color: #8fcfd1;
  margin: 0;
}

.social-icons {
  margin-top: 0.5%;
}

.main__count {
  position: absolute;
  top: 60%;
  left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #0000;
  width: auto;
  height: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #8fcfd1;
}

.main__count input,
.main__count button {
  width: 150px;
  height: 70px;
  color: blueviolet;
  background-color: azure;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: large;
  border: 2px solid #d48114;
}

.search-in-wiki {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #8fcfd1;
}

input[type="image"] {
  width: 80px;
  height: 40px;
  margin-bottom: 0;
}

.form-wrapper {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: blanchedalmond;
  margin-left: 54%;
  font-size: 1.5em;
  background-color: #8fcfd1;
}

.form-wrapper input {
  border: 2px solid blanchedalmond;
  font-size: 1em;
  margin: 2%;
}
/*# sourceMappingURL=style.css.map */