@font-face {
  font-family: "BalsamReg";
  src: url("/fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "BalsamItal";
  src: url("/fonts/Balsamiq_Sans/BalsamiqSans-Italic.ttf") format("ttf");
  font-style: italic;
}

:root {
  font-size: calc(1em + 1vw);
}

body {
  margin: 0 auto;
  background-color: #eaf5f3;
}

.wrapper {
  font-family: "BalsamReg", sans-serif;
  width: 90vw;
  height: 100vh;
  background-color: #eaf5f3;
  margin: 0 auto;
}

.wrapper input,
.wrapper button {
  font-size: calc(0.5em + 0.5vw);
}

.header,
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border: 2px solid #d7eff7;
}

.header a img,
.footer a img {
  width: 40px;
  height: 40px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  width: inherit;
  position: relative;
}

.reg-auth__form {
  display: none;
  position: absolute;
  top: 5%;
  z-index: 99;
}

.reg-auth__form .form-wrapper {
  width: calc(9em + 50vw);
  background-color: #eaf5f3;
  color: #173833;
  -webkit-filter: opacity(90%);
          filter: opacity(90%);
}

.reg-auth__form .form-wrapper h3 {
  text-align: center;
}

.reg-auth__form .form-wrapper input {
  background-color: #eaf5f3;
  border: 2px solid #23caae;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.reg-auth__form .form-wrapper input[type="radio"] {
  border: 0px;
  width: 100%;
  height: 2em;
  color: #23caae;
}

.reg-auth__form .form-wrapper form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.reg-auth__form .form-wrapper form .closeCross {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0px;
  right: 0px;
}

h1 {
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
  text-shadow: 2px 2px 3px #eaf5f3, -1px 1px 1px #525758;
  font-style: italic;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 2rem 2rem 2rem;
  background-color: #eaf5f3;
  border: 4px solid #eaf5f3;
  -o-border-image: url("/images/math-dog.jpg") 30 round round;
     border-image: url("/images/math-dog.jpg") 30 round round;
}

.section input,
.section button {
  background-color: #23caae;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
  border: 4px solid 2px solid #d7eff7;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.section .textarea {
  background-color: #eaf5f3;
}

.button:hover {
  background-color: #23caae;
}

.events .capture__wrap {
  margin-bottom: 2rem;
  background-color: #23caae;
  color: #eaf5f3;
  padding: 20px;
}

.events .capture__wrap__div {
  background-color: #eaf5f3;
  padding: 20px;
}

.events .capture__wrap__div__ul {
  background-color: #23caae;
  padding: 20px;
}

.events .capture__wrap__div__ul__li {
  background-color: #eaf5f3;
  padding: 20px;
}

.events .bubble__wrap {
  background-color: #23caae;
  color: #eaf5f3;
  padding: 20px;
}

.events .bubble__wrap__div {
  background-color: #eaf5f3;
  padding: 20px;
}

.events .bubble__wrap__div__ul {
  background-color: #23caae;
  padding: 20px;
}

.events .bubble__wrap__div__ul__li {
  background-color: #eaf5f3;
  padding: 20px;
}

.h2 {
  text-shadow: 8px 8px 5px #eaf5f3;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.search-in-wiki {
  width: 90vw;
  height: 60vh;
}

.Background {
  color: #173833;
  text-shadow: 2px 2px 5px #eaf5f3;
  font-family: "BalsamReg";
}

.Background .header {
  background-image: url("../images/math-math-dog.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: blur(67%);
          filter: blur(67%);
}

.Background input,
.Background button {
  background-color: #23caae;
  color: #c2115b;
}

.newBackground {
  font-family: "BalsamItal";
  color: #c2115b;
  text-shadow: 2px 2px 5px #eaf5f3;
}

.newBackground .header {
  background-image: url("../images/math-dog.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: blur(67%);
          filter: blur(67%);
}

.newBackground input,
.newBackground button {
  background-color: #c2115b;
  color: #173833;
}

.newBackground .form-wrapper {
  width: calc(9em + 10vw);
  color: #eaf5f3;
  background-color: #c2115b;
  z-index: 99;
}

.newBackground .form-wrapper input {
  background-color: #eaf5f3;
  border: 2px solid #eaf5f3;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.newBackground .form-wrapper form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newBackground .main__count {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.newBackground .capture__wrap {
  background-color: #c2115b;
  padding: 20px;
}

.newBackground .capture__wrap__div {
  background-color: #eaf5f3;
  padding: 20px;
}

.newBackground .capture__wrap__div__ul {
  background-color: #c2115b;
  padding: 20px;
}

.newBackground .capture__wrap__div__ul__li {
  background-color: #eaf5f3;
  padding: 20px;
}

.newBackground .bubble__wrap {
  background-color: #c2115b;
  padding: 20px;
}

.newBackground .bubble__wrap__div {
  background-color: #eaf5f3;
  padding: 20px;
}

.newBackground .bubble__wrap__div__ul {
  background-color: #c2115b;
  padding: 20px;
}

.newBackground .bubble__wrap__div__ul__li {
  background-color: #eaf5f3;
  padding: 20px;
}

.social-icons {
  margin-top: 0.5%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-border-image: url("/images/math-dog.jpg") 30 round round;
     border-image: url("/images/math-dog.jpg") 30 round round;
  padding: 1rem;
}

.footer .section {
  background-color: rgba(255, 255, 255, 0.027);
  padding: 0;
  border: rgba(255, 255, 255, 0);
}

.footer h4 {
  margin: 0;
}

.themeButton {
  border: 2px solid #d7eff7;
  padding: 0.5rem;
}

.highlight {
  border: 10px solid #173833;
}
/*# sourceMappingURL=style.css.map */