@font-face{
    font-family: "BalsamReg";
    src: url("/fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf") format("ttf");
}
@font-face{
    font-family: "BalsamItal";
    src: url("/fonts/Balsamiq_Sans/BalsamiqSans-Italic.ttf") format("ttf");
    font-style: italic;
}
$border:2px solid rgb(40, 154, 230);
$backgroundColor: rgb(22, 48, 49);
$color: rgb(224, 224, 32);
$lightcolor:rgb(224, 237, 241);

:root {
    font-family: "BalsamReg", sans-serif;
    font-size: 1.3rem;

}

@mixin background () {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(67%);

}

@mixin columnCenter() {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    margin: 0 auto;

}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    background: linear-gradient($backgroundColor, rgb(245, 242, 237));
    padding: 1.5rem;

    a img {
        width: 40px;
        height: 40px;
    }
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.themeButton {
    border: $border;
    padding: 0.5rem;

}

.main {
    width: inherit;
   
    position: relative;
}



.reg-auth__form {
    display: none;
    position: absolute;
     z-index: 99;
    .form-wrapper {
        width: auto;               
        background-color: $backgroundColor;
        input {
            background-color: $lightcolor;
            border: 2px solid $lightcolor;
            margin-bottom: 1rem;
            border-radius: 1rem;
            padding: 0.5rem;
        }
       
        form{
            width: 100%; 
            @include columnCenter();
       align-items: center;
        }
    }
    
}

h1 {
    filter: saturate(100%);
    text-shadow: 2px 2px 3px $lightcolor,
        -1px 1px 1px rgb(82, 87, 88);
    font-style: italic;
}






.social-icons {
    margin-top: 0.5%;
}

.main__count {


    display: flex;
    flex-direction: column;
    padding: 2rem;

    input,
    button {


        background-color: $color;
        align-self: flex-start;
        text-align: center;
        border: 2px solid $border;
        border-radius: 3rem;
        padding: 1rem;
    }

    .textarea {
        background-color: $lightcolor;
    }
}

.h2{
    padding: 2rem;
}
.search-in-wiki {
    width: 100vw;
    height: 20vh;
    background-color: $backgroundColor;
}


input[type="image"] {
    width: 80px;
    height: 40px;
    margin-bottom: 0;
}



.Background {
    background-image: url("../images/math-math-dog.jpg");
    @include background();
    color: $color;
    text-shadow: $backgroundColor;
    font-family: "BalsamReg";
    input,
    button {
        background-color: $color;
        color: $backgroundColor;
    }

}

.newBackground {
    background-image: url("../images/math-dog.jpg");
    @include background();
 font-family: "BalsamItal";
    color: $backgroundColor;

    input,
    button {
        background-color: $backgroundColor;
        color: $color;
    }
    .form-wrapper {
        width: auto;
        
       color: $lightcolor;
        background-color: $backgroundColor;
        input {
            background-color: $lightcolor;
            border: 2px solid $lightcolor;
            margin-bottom: 1rem;
            border-radius: 1rem;
            padding: 0.5rem;
        }
        z-index: 99;
        form{
            width: 100%; 
            @include columnCenter();
       align-items: center;
        }
    }
    .main__count{
        align-items: flex-end;
    }
}