@font-face {
    font-family: "BalsamReg";
    src: url("fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "BalsamItal";
    src: url("fonts/Balsamiq_Sans/BalsamiqSans-Italic.ttf") format("ttf");
    font-style: italic;
}

$border:2px solid rgb(215, 239, 247);
$backgroundColor: rgb(194, 17, 91);
$color: rgb(23, 56, 51);
$lightcolor:rgb(234, 245, 243);
$activeBack:rgb(35, 202, 174);



:root {
    font-size: calc(1em + 1vw);
}

@mixin background () {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(67%);

}

@mixin columnCenter() {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body {
    margin: 0 auto;
    background-color: $lightcolor;

}

.wrapper {
    font-family: "BalsamReg", sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
    
    background-color: $lightcolor;
   
border: 2px solid $color;
    input,
    button {
        font-size: calc(0.5em + 0.5vw);
    }
}

.header {
    margin-top: .5rem;
    padding-top: 6rem;
}

.header,
.footer {

    @include flexRow();
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;

    

    a img {
        width: 40px;
        height: 40px;
    }
}

.nav {
    @include flexRow();
    align-items: baseline;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: $color;
        margin-right: 1.5rem;
    }

    a:hover {
        color: $activeBack;
    }
}



.main {
    width: inherit;
    position: relative;
}



.reg-auth__form {
    display: none;
    position: absolute;
    top: 5%;
    z-index: 99;

    .form-wrapper {
        width: calc(9em + 50vw);
        background-color: $lightcolor;
        color: $color;

        h3 {
            text-align: center;
        }

        filter: opacity(90%);

        input {
            background-color: $lightcolor;
            border: 2px solid $activeBack;
            margin-bottom: 1rem;
            border-radius: 1rem;
            padding: 0.5rem;
        }

        input[type="radio"] {
            border: 0px;
            width: 100%;
            height: 2em;
            color: $activeBack;
        }

        form {
            width: 100%;
            @include columnCenter();
            align-items: center;
            position: relative;

            .closeCross {
                position: absolute;
                font-size: 2rem;
                top: -2rem;
                right: 1rem;
            }
        }
    }

}

h1 {
    filter: saturate(100%);
    text-shadow: 2px 2px 3px $lightcolor,
        -1px 1px 1px rgb(82, 87, 88);
    font-style: italic;

}



.section {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 2rem 2rem;
    background-color: $lightcolor;
    border-bottom: 2px solid $color;


    input,
    button {
        background-color: $activeBack;
        align-self: flex-start;
        text-align: center;
        border: 4px solid $border;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }

    .textarea {
        background-color: $lightcolor;
    }
}

.button:hover {
    background-color: $activeBack;

}

.events {

    .capture__wrap {
        margin-bottom: 2rem;
        background-color: $activeBack;
        color: $lightcolor;
        padding: 20px;

        &__div {

            background-color: $lightcolor;
            padding: 20px;

            &__ul {

                background-color: $activeBack;
                padding: 20px;

                &__li {

                    background-color: $lightcolor;
                    padding: 20px;
                }
            }
        }
    }

    .bubble__wrap {

        background-color: $activeBack;
        color: $lightcolor;
        padding: 20px;

        &__div {

            background-color: $lightcolor;
            padding: 20px;

            &__ul {

                background-color: $activeBack;
                padding: 20px;

                &__li {

                    background-color: $lightcolor;
                    padding: 20px;
                }
            }
        }
    }
}

.h2 {

    text-shadow: 8px 8px 5px $lightcolor;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.search-in-wiki {
    width: 90vw;
    height: 60vh;

}



.Background {
    .header {
        background-image: url("/images/math-math-dog.jpg");
        @include background();
    }


    color: $color;
    text-shadow: 2px 2px 5px $lightcolor;
    font-family: "BalsamReg", sans-serif;


    input,
    button {
        background-color: $activeBack;
        color: $backgroundColor;
    }

}

.newBackground {
    .header {
        background-image: url("/images/math-dog.jpg");
        @include background();
    }


    font-family: "BalsamItal", sans-serif;
    font-style: italic;
    color: $backgroundColor;
    text-shadow: 2px 2px 5px $lightcolor;

    input,
    button {
        background-color: $backgroundColor;
        color: $color;
    }




    .main__count {
        align-items: flex-end;
    }

    .capture__wrap {

        background-color: $backgroundColor;
        padding: 20px;

        &__div {

            background-color: $lightcolor;
            padding: 20px;

            &__ul {

                background-color: $backgroundColor;
                padding: 20px;

                &__li {

                    background-color: $lightcolor;
                    padding: 20px;
                }
            }
        }
    }

    .bubble__wrap {

        background-color: $backgroundColor;

        padding: 20px;

        &__div {

            background-color: $lightcolor;
            padding: 20px;

            &__ul {

                background-color: $backgroundColor;
                padding: 20px;

                &__li {

                    background-color: $lightcolor;
                    padding: 20px;

                }
            }
        }
    }
}

.social-icons {
    margin-top: 0.5%;
}

.footer {
    @include flexRow();
    align-items: center;

    padding: 1rem;

    .section {
        background-color: rgba(255, 255, 255, 0.027);
        padding: 0;
        border-bottom: $lightcolor;


    }

    h4 {
        margin: 0;
    }
}

.themeButton {
    border: $border;
    padding: 0.5rem;

}

.highlight {
    border: 10px solid $color;

}