@font-face {
  font-family: "BalsamReg";
  src: url("/fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "BalsamItal";
  src: url("/fonts/Balsamiq_Sans/BalsamiqSans-Italic.ttf") format("ttf");
  font-style: italic;
}

:root {
  font-size: calc(1em + 1vw);
}

body {
  margin: 0 auto;
}

.wrapper {
  font-family: "BalsamReg", sans-serif;
  width: 100vw;
  height: 100vh;
}

.wrapper input, .wrapper button {
  font-size: calc(0.5em + 0.5vw);
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: -webkit-gradient(linear, left top, left bottom, from(#c26f11), to(#f5f2ed));
  background: linear-gradient(#c26f11, #f5f2ed);
  padding: 1.5rem;
}

.header a img {
  width: 40px;
  height: 40px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.themeButton {
  border: 2px solid #d7eff7;
  padding: 0.5rem;
}

.main {
  width: inherit;
  position: relative;
}

.reg-auth__form {
  display: none;
  position: absolute;
  top: 20%;
  z-index: 99;
}

.reg-auth__form .form-wrapper {
  width: calc(9em + 30vw);
  background-color: #157968;
  color: #d7eff7;
  -webkit-filter: opacity(90%);
          filter: opacity(90%);
}

.reg-auth__form .form-wrapper h3 {
  text-align: center;
}

.reg-auth__form .form-wrapper input {
  background-color: #d7eff7;
  border: 2px solid #d7eff7;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.reg-auth__form .form-wrapper form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.reg-auth__form .form-wrapper form .closeCross {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0px;
  right: 0px;
}

h1 {
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
  text-shadow: 2px 2px 3px #d7eff7, -1px 1px 1px #525758;
  font-style: italic;
}

.social-icons {
  margin-top: 0.5%;
}

.main__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.main__count input,
.main__count button {
  background-color: #157968;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
  border: 4px solid 2px solid #d7eff7;
  border-radius: 3rem;
  padding: 1rem;
}

.main__count .textarea {
  background-color: #d7eff7;
}

.h2 {
  text-shadow: 8px 8px 5px #d7eff7;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.search-in-wiki {
  width: 100vw;
  height: 20vh;
  background-color: #c26f11;
}

input[type="image"] {
  width: 80px;
  height: 40px;
  margin-bottom: 0;
}

.Background {
  background-image: url("../images/math-math-dog.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: blur(67%);
          filter: blur(67%);
  color: #157968;
  text-shadow: #c26f11;
  font-family: "BalsamReg";
  -webkit-filter: opacity(90%);
          filter: opacity(90%);
}

.Background input,
.Background button {
  background-color: #157968;
  color: #c26f11;
}

.newBackground {
  background-image: url("../images/math-dog.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: blur(67%);
          filter: blur(67%);
  font-family: "BalsamItal";
  color: #c26f11;
  -webkit-filter: opacity(90%);
          filter: opacity(90%);
}

.newBackground input,
.newBackground button {
  background-color: #c26f11;
  color: #157968;
}

.newBackground .header {
  background: -webkit-gradient(linear, left top, left bottom, from(#157968), to(#f5f2ed));
  background: linear-gradient(#157968, #f5f2ed);
}

.newBackground .form-wrapper {
  width: calc(9em + 10vw);
  color: #d7eff7;
  background-color: #c26f11;
  z-index: 99;
}

.newBackground .form-wrapper input {
  background-color: #d7eff7;
  border: 2px solid #d7eff7;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.newBackground .form-wrapper form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newBackground .main__count {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/*# sourceMappingURL=style.css.map */